<section>
  <swiper-container
    class='mySwiper'
    pagination='true'
    pagination-clickable='true'
    space-between='30'
    slides-per-view='3'
  >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result2.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result4.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result5.jpeg'
      /></swiper-slide
    >
    <swiper-slide class='flex flex-col gap-8'>
      <img
        class='rounded-lg'
        src='results/result1.jpeg'
      />
      <img
        class='rounded-lg'
        src='results/result3.jpeg'
      />
    </swiper-slide>
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result2.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result4.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result5.jpeg'
      /></swiper-slide
    >
    <swiper-slide class='flex flex-col gap-8'>
      <img
        class='rounded-lg'
        src='results/result1.jpeg'
      />
      <img
        class='rounded-lg'
        src='results/result3.jpeg'
      />
    </swiper-slide>
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result2.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result4.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result5.jpeg'
      /></swiper-slide
    >
    <swiper-slide class='flex flex-col gap-8'>
      <img
        class='rounded-lg'
        src='results/result1.jpeg'
      />
      <img
        class='rounded-lg'
        src='results/result3.jpeg'
      />
    </swiper-slide>
  </swiper-container>

  <script
    src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js'
  ></script>
</section>

<style>
  section {
    position: relative;
    height: 100%;
  }

  section {
    font-family:
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
    margin-bottom: 6rem;
  }

  swiper-container {
    width: 70%;
    height: 70%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
