<section>
  <div class='flex justify-center items-center'>
    <h2 class='text-2xl mb-10 text-center lg:text-4xl'>
      ELLOS YA CONSIGUIERON SU CAMBIO
    </h2>
    <p></p>
  </div>
  <swiper-container
    class='mySwiper'
    pagination='true'
    pagination-clickable='true'
    space-between='30'
    id='mySwiper'
  >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result2.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result4.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result5.jpeg'
      /></swiper-slide
    >
    <swiper-slide class='flex flex-col gap-8'>
      <img
        class='rounded-lg'
        src='results/result1.jpeg'
      />
      <img
        class='rounded-lg'
        src='results/result3.jpeg'
      />
    </swiper-slide>
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result2.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result4.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result5.jpeg'
      /></swiper-slide
    >
    <swiper-slide class='flex flex-col gap-8'>
      <img
        class='rounded-lg'
        src='results/result1.jpeg'
      />
      <img
        class='rounded-lg'
        src='results/result3.jpeg'
      />
    </swiper-slide>
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result2.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result4.jpeg'
      /></swiper-slide
    >
    <swiper-slide
      ><img
        class='rounded-lg'
        src='results/result5.jpeg'
      /></swiper-slide
    >
    <swiper-slide class='flex flex-col gap-8'>
      <img
        class='rounded-lg'
        src='results/result1.jpeg'
      />
      <img
        class='rounded-lg'
        src='results/result3.jpeg'
      />
    </swiper-slide>
  </swiper-container>

  <script
    src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js'
  ></script>
</section>
<script>
  // Ajustar slidesPerView dependiendo del tamaño de la pantalla
  const swiperContainer = document.getElementById('mySwiper')
  const updateSlidesPerView = (): void => {
    const slidesPerView = window.innerWidth < 640 ? 1 : 3
    swiperContainer!.setAttribute('slides-per-view', slidesPerView.toString())
  }

  // Actualizar al cargar la página
  updateSlidesPerView()

  // Actualizar al cambiar el tamaño de la pantalla
  window.addEventListener('resize', updateSlidesPerView)
</script>

<style>
  section {
    position: relative;
    height: 100%;
  }

  section {
    font-family:
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 14px;
    margin-bottom: 6rem;
  }

  swiper-container {
    width: 70%;
    height: 70%;
  }

  @media (max-width: 640px) {
    swiper-container {
      width: 90%;
      height: 90%;
    }
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
