---
import Button from './Button.astro'

interface Props {
    title: string
    subtitle: string
    class?: string
}
const { title, subtitle } = Astro.props
---

<article
    class={`
    ${Astro.props.class ?? ''}
    relative rounded-xl
    backdrop-blur-md
    shadow-inner shadow-white/10
    overflow-hidden
    group
    bg-gray-500 bg-opacity-75
    text-white    
    w-[95%] mx-auto
    flex flex-col
  `}
>
    <slot name='image' />
    <div
        class='select-none flex flex-col gap-1 p-6 text-lg z-20 flex-grow transition-transform duration-500 hover:scale-105'
    >
        <h3 class='text-2xl text-gray-900 font-semibold mb-4'>
            {title}
        </h3>
        <p class='text-lg text-gray-700'>{subtitle}</p>
    </div>
</article>
