<!-- Calendly inline widget begin -->
<div id='calently'>
    <div>
        <h2 class='text-center text-3xl mt-20 lg:text-4xl mx-3'>
            TRANSFORMA TU VIDA HOY
        </h2>
        <p class='text-center mx-2 mt-4'>
            ¿Estás listo para llevar tu bienestar al siguiente nivel?
            <strong class='font-semibold'>¡No esperes más! </strong>
        </p>
        <p class='text-center mx-2 mb-10 lg:-mb-8'>
            Programa una <strong class='font-semibold text-pink-600'
                >llamada gratis conmigo</strong
            > y descubrí cómo puedo ayudarte a <strong
                class='font-semibold text-pink-600'>alcanzar tus metas.</strong
            >
        </p>
    </div>
    <div
        class='calendly-inline-widget mx-3'
        data-url='https://calendly.com/valenzalazar3/empeza-tu-entrenamiento-hoy'
        style='min-width:320px;height:700px;'
    >
    </div>
</div>
<script
    type='text/javascript'
    src='https://assets.calendly.com/assets/external/widget.js'
    async
></script>
<!-- Calendly inline widget end -->
