---

---

<section class='mt-14'>
    <div>
        <h2 class='text-2xl mb-3 text-center lg:text-4xl'>
            ¿TENÉS GANAS DE MÁS?
        </h2>
        <p class='text-center mb-10'>
            Acceso directo a todo el <strong class='font-semibold text-pink-600'
                >contenido gratuito</strong
            > que tengo para vos.
        </p>
    </div>
    <div
        class='flex flex-col justify-center items-center lg:flex-row xl:flex-row 2xl:flex-row gap-3'
    >
        <div class='flex items-center justify-center'>
            <a
                href='https://www.youtube.com/@YohanaSilva'
                target='_blank'
                rel='noopener noreferrer'
                ><button
                    class='bg-orange-300 py-2 px-11 rounded-lg text-white font-normal tracking-widest text-sm hover:text-black hover:shadow-orange-300 hover:shadow-lg transition-shadow duration-400'
                    >Clases gratis en el canal<br /> de YouTube</button
                >
            </a>
        </div>
        <div class='flex items-center justify-center'>
            <a
                href='https://chat.whatsapp.com/EAwr6gIlI2lCYg7Q6GbQ4X'
                target='_blank'
                rel='noopener noreferrer'
            >
                <button
                    class='bg-purple-300 py-2 px-12 rounded-lg text-white font-normal tracking-widest text-sm hover:text-black hover:shadow-purple-300 hover:shadow-lg transition-shadow duration-400'
                >
                    Accede a la comunidad<br /> en WhatsApp
                </button>
            </a>
        </div>
        <div class='flex items-center justify-center'>
            <a
                href='https://www.instagram.com/yohana_sil/'
                target='_blank'
                rel='noopener noreferrer'
                ><button
                    class='bg-red-300 py-2 px-7 rounded-lg text-white font-normal tracking-widest text-sm hover:text-black hover:shadow-red-300 hover:shadow-lg transition-shadow duration-400'
                >
                    Recetas, frases motivadoras <br />y más en Instagram
                </button>
            </a>
        </div>
    </div>
</section>
