---

---

<div class='relative flex justify-center items-end h-screen'>
    <img
        src='/others/stayfocus.webp'
        alt=''
        class='absolute inset-0 w-full h-full object-cover opacity-50'
    />

    <div class='relative max-w-3xl text-center'>
        <div class='flex justify-center items-center'>
            <img
                src='/testimonials/yohanasilva.png'
                alt=''
                class='rounded-xl w-72 h-20 xl:w-96 xl:h-24 lg:mt-10 responsiveImage'
            />
        </div>
        <h1
            class='textoStyle text-2xl mx-3 font-semibold tracking-tight text-gray-800 mb-10 sm:text-3xl lg:text-3xl xl:text-4xl xl:-mx-3 md:text-3xl 2xl:text-4xl 2xl:-mb-1 animate-slide-in-left'
        >
            Te ayudo a
            <span class='text-pink-600'>transformar</span> tu cuerpo y <span
                class='text-pink-600'>cambiar</span
            > tu vida, con <span class='text-pink-600'
                >entrenamientos personalizados</span
            > y asesoria nutricional
        </h1>
        <div class='flex justify-center items-center mb-16 mt-10'>
            <button
                id='scroll-button'
                class='boton cursor-pointer transition-all
bg-gray-700 text-white px-10 py-2 text-md rounded-lg xl:text-lg xl:px-14
border-pink-500
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px] hover:shadow-xl hover:shadow-pink-500 shadow-pink-500 active:shadow-none'
                ><a href='#section-plans'>Quiero saber más</a>
            </button>
        </div>
    </div>
</div>

<script>
    document
        .getElementById('scroll-button')!
        .addEventListener('click', function (e) {
            e.preventDefault()
            document.querySelector('#section-plans')!.scrollIntoView({
                behavior: 'smooth'
            })
        })
</script>
<style>
    /* span {
        color: #fbd1c0;
    } */

    @media (min-width: 325px) {
        .responsiveImage {
            margin-bottom: 14rem;
            width: 18rem;
            height: 5rem;
        }
        .textoStyle {
            margin-bottom: -45px;
            font-size: 1.3em;
            line-height: 1.1em;
        }
        .boton {
            margin-bottom: 13em;
            margin-top: 1em;
            font-size: 0.5em;
        }
    }
    @media (min-width: 440px) {
        .responsiveImage {
            margin-bottom: 17rem;
            width: 25rem;
            height: 7rem;
        }
        .textoStyle {
            margin-bottom: -45px;
            font-size: 1.5em;
        }
        .boton {
            margin-bottom: 13em;
            margin-top: 1em;
        }
    }
    @media (min-width: 540px) {
        .responsiveImage {
            margin-bottom: 18rem;
            width: 29rem;
            height: 8rem;
        }
        .textoStyle {
            margin-bottom: -45px;
            font-size: 1.8em;
        }
        .boton {
            margin-bottom: 14em;
            margin-top: 1em;
        }
    }
    @media (min-width: 740px) {
        .responsiveImage {
            margin-bottom: 17rem;
            width: 29rem;
            height: 8rem;
        }
        .textoStyle {
            margin-bottom: -45px;
        }
        .boton {
            margin-bottom: 13em;
            margin-top: 1em;
        }
    }
    @media (min-width: 940px) {
        .responsiveImage {
            margin-bottom: 16rem;
            width: 29rem;
            height: 8rem;
        }
        .textoStyle {
            margin-bottom: -45px;
        }
        .boton {
            margin-bottom: 9em;
            margin-top: 1em;
            font-size: 0.8em;
        }
    }
    @media (min-width: 1024px) {
        .responsiveImage {
            margin-bottom: 15rem;
            width: 29rem;
            height: 8rem;
        }
        .textoStyle {
            margin-bottom: -45px;
        }
        .boton {
            margin-bottom: 10em;
            margin-top: 1em;
        }
    }
    @media (min-width: 1300px) {
        .responsiveImage {
            margin-bottom: 16rem;
            width: 29rem;
            height: 8rem;
        }
        .textoStyle {
            margin-bottom: -45px;
        }
        .boton {
            margin-bottom: 10em;
            margin-top: 1em;
            font-size: 0.9em;
        }
    }
    @media (min-width: 1500px) {
        .responsiveImage {
            margin-bottom: 18rem;
            width: 35rem;
            height: 9rem;
        }
        .textoStyle {
            margin-bottom: -20px;
            font-size: 2em;
            line-height: 1em;
        }
        .boton {
            margin-bottom: 5em;
            margin-top: 1em;
            font-size: 0.9em;
        }
    }
    @media (min-width: 1700px) {
        .responsiveImage {
            margin-bottom: 20rem;
            width: 35rem;
            height: 10rem;
        }
        .textoStyle {
            margin-bottom: -20px;
            font-size: 3em;
            line-height: 1em;
        }
        .boton {
            margin-bottom: -1em;
            margin-top: 1em;
            font-size: 0.9em;
        }
    }
</style>
