---

---

<div class='relative flex justify-center items-end h-screen'>
    <img
        src='/others/stayfocus.webp'
        alt=''
        class='absolute inset-0 w-full h-full object-cover opacity-50'
    />

    <div class='relative max-w-3xl text-center'>
        <div class='flex justify-center items-center mb-96 lg:mb-64'>
            <img
                src='/testimonials/soyyohanasilva.webp'
                alt=''
                class='rounded-xl w-72 h-20 xl:w-96 xl:h-24 lg:mt-10'
            />
        </div>
        <h1
            class='text-3xl mx-3 font-semibold tracking-tight text-gray-800 mb-10 lg:text-3xl xl:text-5xl xl:-mx-3 md:text-3xl animate-slide-in-left'
        >
            Y te ayudo a
            <span class='textColor'>transformar</span> tu cuerpo y <span
                class='text-pink-400'>cambiar</span
            > tu vida, con <span class='text-pink-400'
                >entrenamientos personalizados</span
            > y consejos de nutrición
        </h1>
        <div class='flex justify-center items-center mb-20'>
            <button
                id='scroll-button'
                class='cursor-pointer transition-all
bg-gray-700 text-white px-10 py-2 text-md rounded-lg xl:text-lg xl:px-14
border-[#fbd1c0]
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px] hover:shadow-xl hover:shadow-[#fbd1c0] shadow-[#fbd1c0] active:shadow-none'
                ><a href='#section-plans'>Quiero saber más</a>
            </button>
        </div>
    </div>
</div>

<script>
    document
        .getElementById('scroll-button')!
        .addEventListener('click', function (e) {
            e.preventDefault()
            document.querySelector('#section-plans')!.scrollIntoView({
                behavior: 'smooth'
            })
        })
</script>
<style>
    span {
        color: #fbd1c0;
    }
</style>
