---

---

<div class='flex justify-center items-center'>
    <div class='max-w-3xl text-center'>
        <div class='flex justify-center mb-4'>
            <img
                class='rounded-full shadow-lg w-16 h-16'
                src='/logoyohanasilva.webp'
                alt='Logo Yohana Silva'
            />
        </div>

        <h1
            class='text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl mb-10'
        >
            Te ayudo a
            <span class='text-pink-600'>transformar</span> tu cuerpo y <span
                class='text-pink-600'>cambiar</span
            > tu vida, con <span class='text-pink-600'
                >entrenamientos personalizados
            </span>y consejos de nutrición
        </h1>

        <video
            class=''
            src='/videointro.mp4'
        ></video>
    </div>
</div>
