<section>
    <div>
        <h2 class='text-center text-3xl mt-20 lg:text-4xl mx-2'>
            LAS <strong class='font-semibold text-pink-600'
                >MEJORES RUTINAS</strong
            > PARA SUDAR A TOPE
        </h2>
        <p class='text-center mt-5 mx-4'>
            Aprendiendo junto a <strong class='font-semibold text-pink-600'
                >grandes profesionales</strong
            >, he logrado conocer los mejores entremamientos para
        </p>
        <p class='text-center mx-4'>
            hacer <strong class='font-semibold text-pink-600'>realidad</strong> esos
            cambios que tanto estas buscando
        </p>
    </div>
    <swiper-container
        class='mySwiper'
        pagination='true'
        effect='coverflow'
        grab-cursor='true'
        centered-slides='true'
        slides-per-view='auto'
        coverflow-effect-rotate='50'
        coverflow-effect-stretch='0'
        coverflow-effect-depth='100'
        coverflow-effect-modifier='1'
        coverflow-effect-slide-shadows='true'
        initial-slide='1'
    >
        <swiper-slide>
            <img src='/photosWith/photowithdegref.webp' />
        </swiper-slide>
        <swiper-slide>
            <img src='/photosWith/photowithpatryjordan.webp' />
        </swiper-slide>
        <swiper-slide>
            <img src='/photosWith/photomuscleguy.webp' />
        </swiper-slide>
        <swiper-slide>
            <img src='/photosWith/photowithcoach.webp' />
        </swiper-slide>
        <swiper-slide>
            <img src='/photosWith/photowithguy.webp' />
        </swiper-slide>
        <swiper-slide>
            <img src='/photosWith/photowithgirl.webp' />
        </swiper-slide>
    </swiper-container>

    <script
        src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js'
    ></script>
</section>

<style>
    section {
        position: relative;
        height: 100%;
    }

    swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
    }

    swiper-slide img {
        display: block;
        width: 100%;
    }
</style>
