---
import Cards from './Cards.astro'
---

<section>
    <h2>¡Descubrí como obtener estos cambios para vos!</h2>

    <!-- Los servicios que ofrezco son 
    Asesoramiento para lograr los resultados específicos en cuanto a alimentación y ejercicios 

    Hago rutinas específicas para lograr ciertos tipos de objetivos como hipertrofia o aumentar glúteos marcar abdomen 

    Acompañamiento en el entrenamiento enseñanza de técnicas más motivación 

    Coreografa armar rutinas o simplemente dictado de clases online en vivo de todos los ritmos -->

    <Cards
        title='Programa Físico - Nutricional'
        subtitle='Asesoramiento para lograr los resultados específicos en cuanto a alimentación y ejercicios'
        class=''
    />
    <Cards
        title='Programa objetivo único'
        subtitle='rutinas específicas para lograr ciertos tipos de objetivos como hipertrofia o aumentar glúteos marcar abdomen'
        class=''
    />
    <Cards
        title='Baile'
        subtitle='Coreografa armar rutinas o simplemente dictado de clases online en vivo de todos los ritmos'
        class=''
    />
</section>
