---
import Button from './Button.astro'
import Cards from './Cards.astro'
---

<section
    id='section-plans'
    class='py-16 mt-5'
>
    <h2 class='text-center text-2xl lg:text-4xl mx-2'>
        <strong class='font-semibold text-pink-600'>IMPULSA</strong> TU COMPROMISO
        Y <strong class='font-semibold text-pink-600'>MOTIVACIÓN</strong> CON ESTOS
        PROGRAMAS
    </h2>
    <p class='text-center mt-5 mx-2'>
        Elige tu programa de <strong class='font-semibold text-pink-600'
            >acompañamiento personalizado</strong
        > y seguimiento según tu objetivo.
    </p>

    <div
        class='flex flex-col max-w-[1600px] lg:flex-row gap-2 mx-auto p-6 md:p-12'
    >
        <Cards
            title='PIERDE PESO Y TONIFICA'
            subtitle='Un programa específico para personas que desean Perder peso y tonificar a través de una combinación de ejercicios O sesiones de baile.'
            class='flex-1 bg-red-300'
        >
            <div
                slot='image'
                class='w-full h-96 bg-cover bg-center transition-opacity duration-500 hover:opacity-75'
                style="background-image: url('/others/smilingrun.webp');"
            >
            </div>
        </Cards>
        <Cards
            title='CORE POWER: Abdomen fuerte y tonificado.'
            subtitle='Un programa dedicado a fortalecer y tonificar los músculos abdominales a través de ejercicios específicos, combinados con una dieta adecuada y apoyo emocional para alcanzar los mejores resultados'
            class='flex-1 bg-green-300'
        >
            <div
                slot='image'
                class='w-full h-96 bg-cover transition-opacity duration-500 hover:opacity-75'
                style="background-image: url('/others/smiling.webp');"
            >
            </div>
        </Cards>
        <Cards
            title='FUERZA Y TONIFICACIÓN '
            subtitle='Diseñado para aquellos que buscan aumentar su masa muscular y mejorar su fuerza a través de un entrenamiento personalizado y una rutina específica'
            class='flex-1 bg-purple-300'
        >
            <div
                slot='image'
                class='w-full h-96 bg-cover bg-center transition-opacity duration-500 hover:opacity-75'
                style="background-image: url('/others/doexercise1.webp');"
            >
            </div>
        </Cards>
        <Cards
            title='VIDA ACTIVA: Bienestar y vitalidad para adultos mayores'
            subtitle='Este programa está diseñado para adultos mayores que buscan mejorar su calidad de vida a través de ejercicios suaves. El objetivo es promover la movilidad, la fuerza, la salud cardiovascular y el bienestar emocional.'
            class='flex-1 bg-orange-300'
        >
            <div
                slot='image'
                class='w-full h-96 bg-cover bg-center transition-opacity duration-500 hover:opacity-75'
                style="background-image: url('/others/serious.webp');"
            >
            </div>
        </Cards>
    </div>
    <div class='flex justify-center'>
        <Button />
    </div>
</section>
