<section class='flex flex-col justify-center items-center bg-gray-900 py-8'>
    <div class='mb-8'>
        <h2 class='text-white text-2xl text-center lg:text-4xl mx-2'>
            ALGUNAS OPINIONES DE L@S QUE <strong
                class='font-semibold text-pink-500'>SE ANIMARON</strong
            >
        </h2>
    </div>
    <div
        class='flex
            flex-col
            space-y-4
            md:flex-row
            md:space-x-4
            md:space-y-0'
    >
        <img
            class='h-60 w-70 rounded-xl border border-black mx-auto'
            src='/testimonials/comment1.webp'
            alt='Testimonial 1'
        />
        <img
            class='h-60 w-70 rounded-xl border border-black mx-auto'
            src='/testimonials/comment2.webp'
            alt='Testimonial 2'
        />
        <img
            class='h-60 w-70 rounded-xl border border-black mx-auto'
            src='/testimonials/comment3.webp'
            alt='Testimonial 3'
        />
    </div>
</section>
