<div class='flex flex-col justify-center items-center mx-2'>
    <div>
        <h2 class='text-center text-3xl mt-10 mx-2 lg:text-4xl'>
            RUTINAS PARA TU <strong class='font-semibold text-pink-600'
                >CUERPO</strong
            > Y MOTIVACION PARA TU <strong class='font-semibold text-pink-600'
                >MENTE</strong
            >
        </h2>
        <p class='text-center my-5 mb-10 mx-2'>
            Todo <strong class='font-semibold text-pink-600'
                >100% personalizado</strong
            > para vos
        </p>
    </div>
    <video
        class='flex w-auto h-auto border border-gray-200 rounded-lg dark:border-gray-700'
        controls
    >
        <source
            src='/videointro.mp4'
            type='video/mp4'
        />
    </video>

    <div>
        <h2 class='text-center text-3xl mt-20 lg:text-4xl mx-3'>
            TRANSFORMA TU VIDA HOY
        </h2>
        <p class='text-center mx-2 mt-4'>
            ¿Estás listo para llevar tu bienestar al siguiente nivel?
            <strong class='font-semibold'>¡No esperes más! </strong>
        </p>
        <p class='text-center mx-2 mb-10 lg:-mb-8'>
            Programa una <strong class='font-semibold text-pink-600'
                >llamada gratis conmigo</strong
            > y descubrí cómo puedo ayudarte a <strong
                class='font-semibold text-pink-600'>alcanzar tus metas.</strong
            >
        </p>
    </div>
</div>
