<div class='flex flex-col justify-center items-center mx-2'>
    <div>
        <h2 class='text-center text-3xl mt-10 mx-2 lg:text-4xl'>
            RUTINAS PARA TU <strong class='font-semibold text-pink-600'
                >CUERPO</strong
            > Y MOTIVACION PARA TU <strong class='font-semibold text-pink-600'
                >MENTE</strong
            >
        </h2>
        <p class='text-center my-5 mb-10 mx-2'>
            Todo <strong class='font-semibold text-pink-600'
                >100% personalizado</strong
            > para vos
        </p>
    </div>
    <video
        class='flex w-auto h-auto border border-gray-200 rounded-lg dark:border-gray-700'
        controls
    >
        <source
            src='/videointro.mp4'
            type='video/mp4'
        />
    </video>
</div>
